/*===================
Border Box Settings
=====================*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
  
  
/*======
Resets
=======*/

html,
body,
header
div,
section,
h1,
h2,
h3,
h4,
p,
ul,
li,
img {
   margin: 0;
   padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
  list-style: none;
}


/*===================
General Settings
===================*/

html,
body,
header,
.ui-controls,
#map {
   width: 100%;
   margin: auto;
}

html,
body,
#map {
   height: 100%;
   overflow-y: hidden;
}

body {
    background: #eee;
}

#map div.ui-button {
    position: relative;
    display: inline-block;
    top: 10px;
    width: 75px;
    padding: 5px;
    background: #ccc;
    border: solid 1px #fff;
    text-align: center;
    border-radius: 10%;
    z-index: 200;
    cursor: pointer;    
}

#map div.ui-button:hover {
    background: #fff;
}

#pittBtn,
#berkeyBtn {
    left: 50px;
}

#berkeyBtn {
    left: 75px;
}


/*===================
Map Zoom Control
===================*/
a.leaflet-control-zoomhome-in,
a.leaflet-control-zoomhome-out {
  font-size: 1.5em;
}